h1 {
    color: white;
    font-size: 60px;
    margin-bottom: 5%;
}

.profpic {
    height: 100%;
    width: 35%;
    border-radius: 25%;
    border-style: solid;
    border-color: white;
    margin-right: 13%;
    }

.move {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.time-box {
    display: flex;
    justify-content: space-around;
    margin-left: 15%;
}

.quote-box {
    display: flex;
    justify-content: space-around;
    margin-right: 15%;
}

.time-box h2 {
    font-size: 35px;
}

body {
    color: white;
}

.link-list {
    display: flex;
    justify-content: space-around;
    align-items: row;
    flex-wrap: wrap;
    margin-top: 5%;
}